extends layout 

block content
  ul(class='navbar')
    li  
      a(href='/notes') cancel
  h1 Add new category
  form(action='/notes/categories/add' method='POST')
    label(for='category') Category
    input(name='category' max_length='50')
    input(type='submit' value='Add')
