extends layout

block content
  ul(class='navbar')
    li  
      a(href='/sleep') cancel
  h1 Add Sleep 
  form(action='/sleep/add' method = 'POST')
    h1 Sleep Time
    label Hour
    input(name='sleepHr' type='number' maxlength='2')
    label Minute
    input(name='sleepMin' type='number' maxlength='2')
    label Am/PM
    input(name='sleepAmPm' maxlength='2')
    h1 Wake time
    label Hour
    input(name='wakeHr' type='number' maxlength='2')
    label Minute
    input(name='wakeMin' type='number' maxlength='2')
    label Am/PM
    input(name='wakeAmPm' maxlength='2')
    h1 Additional Info
    label Notes 
    input(name='sleepNote' maxlength='100')
    label Break Day?
    input(type='checkbox' name='breakDay')
    input(type='submit' value='add') 