extends layout 

block content 
  ul(class='navbar')
    li
      a(href='/') Home
    li 
      a(href='/canvas/add') Set up canvas integrations
  h1(style='font-size: 50px;') Recent
  div(class='canvas-index-container')
    div(id='message-container')
    div(id='profile')

  script(src='javascripts/canvas.js') 