extends layout

block content

  h1 Change Password 
  form(action='/changePassword' method='POST')
    label(for='oldPassword') Old Password
    input(name='oldPassword')
    label(for='newPassword') New Password
    input(name='newPassword')
    input(type='submit' value='change password')
    p=msg