extends layout

block content
  ul(class='navbar')
    li  
      a(href='/') cancel
  h1 Change Password 
  form(action='/changePassword' method='POST')
    label(for='oldPassword'  maxlength='100') Old Password
    input(name='oldPassword')
    label(for='newPassword') New Password
    input(name='newPassword'  maxlength='100')
    input(type='submit' value='change password')
    p=msg