extends layout 

block content 

    form(action='/forums/createPost', method='POST')
        label(for='title') Title
        input(name='title' max-length="50") 
        label(for='content') Content 
        textarea(name="content")
        input(type='submit' value='Post')
