extends layout 

block content 
    ul(class='navbar')
        li  
            a(href='/forums') cancel
    form(action='/forums/createPost', method='POST')
        label(for='title') Title
        input(name='title' max-length="50") 
        label(for='content') Content 
        textarea(name="content" style='width: 300px; height: 300px;')
        input(type='submit' value='Post')
