extends layout 

block content 
    ul(class='navbar')
        li 
            a(href='/') Home 
        li 
            a(href='/forums/createPost') Create Post
    h1 Logged in as #[span(id='user')=user]
    div(id='forum-posts-container')
    script(src='javascripts/forums.js') 