extends layout 

block content 
    ul(class='navbar')
        li 
            a(href='/') Home 
        li 
            a(href='/forums/createPost') Create Post
    - specialRole = specialRole[0] ? specialRole : 'Student'
    h1 Logged in as #[span(id='user')=user] (#[span(id='specialRole')=specialRole])
    h1 You are on page #[span(id='page')=pageNum]
    
    div(id='search-bar' class='grid-center')
      p(id='search') #[i(class="fa-solid fa-magnifying-glass FA-icon")]
      input(name='query' id='search-query' value=query)  
      p(id='cancel') #[i(class="fa-solid fa-x FA-icon")]

    div(id='forum-posts-container')
    div(class='pagination-links')
        if pageNum > 1
            button(id='prev') previous
        button(id='next') next
    div(class='footer')

    dialog(id='creator') 
        button close
        h1 One of the creators of the site.
    dialog(id='admin') 
        button close
        h1 Verified administrator of the school.
    dialog(id='teacher')  
        button close
        h1 Verified teacher.
    dialog(id='beta-tester') 
        button close
        h1 One of the betatesters! Thanks for your help!
    dialog(id='bro') 
        button close
        h1 Edwin's brother. Certified trash.
    script(src='/javascripts/forums.js')  