extends layout 

block content 
    ul(class='navbar')
        li 
            a(href='/') Home 
        li 
            a(href='/forums/createPost') Create Post
    h1 Logged in as #[span(id='user')=user]
    div(id='search-bar' class='grid-center')
      p(id='search') #[i(class="fa-solid fa-magnifying-glass FA-icon")]
      input(name='query' id='search-query') 
      p(id='cancel') #[i(class="fa-solid fa-x FA-icon")]

    div(id='forum-posts-container')
    dialog(id='creator') 
        button close
        h1 One of the creators of the site.
    dialog(id='admin') 
        button close
        h1 Verified administrator of the school.
    dialog(id='teacher') 
        button close
        h1 Verified teacher.
    dialog(id='beta-tester') 
        button close
        h1 One of the betatesters! Thanks for your help!
    script(src='javascripts/forums.js')  