extends layout 

block content 

    ul(class='navbar')
        li 
            a(href='/login') Login 
        li 
            a(href='/adduser') Create Account
    h1 For The Next Generation of Intelligent Schools.
    