doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/x-icon" href="../images/raindrop.ico")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    script(src="https://kit.fontawesome.com/9cabf86516.js" crossorigin="anonymous")  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
    script(src='/javascripts/notify.js')
    script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
  body
    block content
