doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    script(src="https://kit.fontawesome.com/9cabf86516.js" crossorigin="anonymous")  
  body
    block content
