extends layout

block content
  ul(class='navbar')
    li
      a(href='/') Home
    li
      a(href='/changePassword') change password
  form(action = '/settings' method='POST')
    label(for='minDate') Recent setting(What is considered Recent?)
    input(type='number' name='minDate')
    label(for='reduceMovement') Reduce movement
    input(type='checkbox' name='reduceMovement')
    label(for='school')
    select(name='school')
      option(value='lincoln') Lincoln High School 
      option(value='westsylvan') West Sylvan Middle School
    input(type='submit' value='save')