extends layout 

block content 

    ul(class='navbar')
        li 
            a(href='/') Home 
        li 
            a(href='tutorials/create') Create Tutorial
    input(id='search-bar')
    each val in tutorials 
        div(class='tutorial')
            
            h1 
                a(href='/tutorials/' + val._id class='no-deco-link')=val.title
            if val.categories
                each category in val.categories 
                    div(class='category')=category
            p=val.user
            p=val.date
