extends layout

block content

  form(action='/todo/update/' + id  method='POST')
    label(for='task') Task
    input(name='task' type='text' value=prev.task)  
    label(for='date') Due date (Last Due Date: #{prev.dueDate})
    input(name='date' type='datetime-local')
    label(for='other') Other
    input(name='other' type='text' value=prev.other)
    label(for='priority') Priority
    if prev.priority
      input(name='priority' type='checkbox' checked)
    else 
      input(name='priority' type='checkbox')

    input(type='submit' value='Update' id='submit-button')

  button(onclick='window.history.back()') Back