@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Phudu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Phudu:wght@300&family=Space+Mono:ital@0;1&display=swap');
* {
  box-sizing: border-box;
}
#header {
  font-size:75px;
  color:white;
  position: absolute;
  top:100px;
  left:50%;
  transform: translateX(-50%);
  animation: fadein 3s ease-out;
}
@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%)
  }
}
#down-arrows {
  text-align: center;
  font-size:40px;
  animation: slidein 2s linear;
}
html {
  font-family: "Inclusive Sans", cursive; 
  color:white;
  background-color: #002;
  
}
a {
    text-decoration: none;
    color: lightblue
}
.navbar a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
#statement {
    background-color:green;
    grid-area: statement;
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  } 
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#statement::after {
  font-weight: 100;
  color: black;
  animation: fadeinout 1s linear 0s infinite;
  content: '|'
}
.background-image {
  top:0px;
  z-index: -1;
  background-color: #002;
  background-image: url('https://www.pbs.org/wgbh/nova/media/images/JWST_hero.width-1500.jpg');
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  width: 100%;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}
#announcements {
  grid-area: announcements;
  margin: 0px;
}
#teacher-apply {
  grid-area: teacher-signup;
}
#examples {
  grid-area: examples;
}
#main-container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 33%);
  grid-template-areas: 
  "statement statement statement"
  "teacher-signup examples examples"
  "announcements examples examples";
}
@media screen and (max-width: 992px) {
  #main-container {
    display: block;
  }
  .example-image {
    width: 100vw !important; 
  }
}
#main-container > div, #main-container h1 {
  overflow: break-word;
}
.underscore-flash::after {
  font-weight: 100;
  color: black;
  animation: fadeinout 1s linear 0s infinite;
  content: '_'
}
.example-image {
  width:66vw;
}
@keyframes fadein {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1 !important;
  }
}
.active {
  
  transition: 0.5s;
  opacity: 1;

}
.reveal {
  opacity: 0;
}
#login-signup-container {
  position:relative;
  left:50%;
  transform: translateX(-50%)
}
#links h1, #links p, #github a, #socials a{
  display:block;
  text-align: center;
}
#other div {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
#other div > button {
  background: transparent;
  color:white;
  padding:10px;
}
#login-signup-container a {
  font-size:90px;
  padding:10px;
  margin: 3rem;
  border-radius: 10px;
}
.top-right, .top-left {
  position: absolute;
  top: 0px;
  margin: 10px;
}
.top-right {
  right:0px;
}
.top-left {
  left:0px;
}